body{
    background-color: lightgray;
    font-family: 'Castoro Titling', cursive;
    background-image: url('https://i.pinimg.com/736x/9d/2c/74/9d2c74e4141621aa887d5917145fbf22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;


    /*font-family: 'Playfair Display', serif;*/

}

/* .firstbox{


} */





.gas{
    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px white ;
}
.oil{

    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black;
}
.coin{

    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black ;
  }
.car{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black ;
}
.new{
    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black;

}
.driver{
    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black;

}
