body{
    background-color: lightgray;
    font-family: 'Castoro Titling', cursive;


    /*font-family: 'Playfair Display', serif;*/
    
}







.gas{
    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px white ;
}
.oil{

    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black;
}
.coin{

    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black ;
  }
.car{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black ;
}
.new{
    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black;

}
.driver{
    width: 100px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 0 1px black;

}
